.cardBox{
    overflow: inherit !important;
    .swiper-button-prev{
        left: 5px !important;
        background: #fff !important;
        border-radius: 100% !important;
    }
    .swiper-button-next{
        right: 5px !important;
        background: #fff !important;
        border-radius: 100% !important;
    }
    .swiper-button-prev,.swiper-button-next{
        width: 35px;
        height: 35px;
        min-width: 30px;
        color: white !important;
    }
    .swiper-button-prev:after,.swiper-button-next:after{
        font-size: 18px !important;
        color: black;
    }
}