body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background: #d2dbed2e;
}


.ReactCollapse--collapse {
  transition: height 300ms;
}

.btn{
  padding: 8px 20px !important;
}


.btn-sm{
  padding: 6px 20px !important;
  font-size: 13px !important;
}

.btn-blue{
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}

.btn-lg{
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
  font-size: 16px !important;
}

.btn-blue:hover{
  background-color: #2e5cc7 !important;
}

