@import "tailwindcss";

html,body{
    overflow-x: hidden !important;
}

:root{
    --font-family1: Roboto, sans-serif;
    --font-family2: Paper, sans-serif;
    --font-family3: Figerly, sans-serif;
}

::-webkit-scrollbar{width: 10px !important; height: 10px!important;}
::-webkit-scrollbar-thumb{background-color: #c0c5c9;border-radius: 20px !important;}

@theme{
    --primary:#3872fa;
    --font-family1: Roboto, sans-serif;
    --font-family2: Paper, sans-serif;
    --font-family3: Figerly, sans-serif;
}


@font-face {
    font-family:'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf')format('ttf');
}

@font-face {
    font-family:'Paper';
    src: url('./assets/fonts/PEPPERCo.otf')format('otf');
}

@font-face {
    font-family:'Figerly';
    src: url('./assets/fonts/Figerly-Regular.otf')format('otf');
}